[tool.poetry]
name = "aiohttp-client-cache"
version = "0.4.3"
description = "Persistent cache for aiohttp requests"
authors = ["Jordan Cook"]
license = "MIT License"
readme = "README.md"
homepage = "https://github.com/JWCook/aiohttp-client-cache"
repository = "https://github.com/JWCook/aiohttp-client-cache"
keywords = ["aiohttp", "async", "asyncio", "cache", "cache-backends", "client", "http",
            "persistence", "requests", "sqlite", "redis", "mongodb", "dynamodb"]
include = [
    { path = "*.md" },
    { path = "*.yml" },
    { path = "aiohttp_client_cache/py.typed" },
    { path = "docs", format = "sdist" },
    { path = "examples", format = "sdist" },
    { path = "test", format = "sdist" }
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

[tool.poetry.urls]
"Documentation" = "https://aiohttp-client-cache.readthedocs.io"

[tool.poetry.dependencies]
python = "^3.7"
aiohttp = {extras = ["speedups"], version = ">=3.0"}
attrs = "^21.2"
itsdangerous = "*"
python-forge = "^18.6"
url-normalize = "^1.4"

# Optional backend dependencies
aioboto3 = { version = "^8.3.0", optional = true }
aiobotocore = {version = "1.2.2", optional = true }
aioredis = { version = "^1.3", optional = true }
aiosqlite = { version = "^0.16", optional = true }
motor = { version = ">=2.0", optional = true }

# Documentation dependencies needed for Readthedocs builds
furo = {version = ">=2021.6.24-beta.37", optional = true}
linkify-it-py = {version = "^1.0.1", optional = true}
myst-parser = {version = "^0.15.1", optional = true}
sphinx = { version = "^4.0.2", optional = true }
sphinx-automodapi = { version=">=0.13", optional = true}
sphinx-autodoc-typehints = { version = "^1.11", optional = true }
sphinx-copybutton = { version = "^0.3", optional = true }
sphinx-inline-tabs = {version = "^2021.4.11-beta.9", optional = true, python = ">=3.8"}
sphinxcontrib-apidoc = { version = "^0.3", optional = true }

[tool.poetry.extras]
all = ["aioboto3", "aiobotocore", "aioredis", "aiosqlite", "motor"]
dynamodb = ["aioboto3", "aiobotocore"]
mongodb = ["motor"]
redis = ["aioredis"]
sqlite = ["aiosqlite"]
docs = ["furo", "linkify-it-py", "myst-parser", "sphinx", "sphinx-automodapi",
        "sphinx-autodoc-typehints", "sphinx-copybutton", "sphinx-inline-tabs", "sphinxcontrib-apidoc"]


[tool.poetry.dev-dependencies]
black = "21.6b0"
flake8 = ">=3.9"
isort = ">=5.8"
mypy = "^0.902"
pre-commit = ">=2.12"
pytest = ">=6.2"
pytest-aiohttp = "^0.3"
pytest-asyncio = "^0.14"
pytest-cov = "^2.11"
sphinx-autobuild = "^2021.3.14"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100
skip-string-normalization = true

[tool.coverage.html]
directory = 'test-reports'

[tool.coverage.run]
branch = true
source = ['aiohttp_client_cache']
omit = [
    'aiohttp_client_cache/backends/__init__.py',
    'aiohttp_client_cache/backends/gridfs.py',
    'aiohttp_client_cache/docs/*',
]

[tool.isort]
profile = "black"
line_length = 100
skip_gitignore = true
known_first_party = ['test']

[tool.mypy]                                        
ignore_missing_imports = true                      
exclude = "dist|build"
